<nav class="navbar navbar-expand-lg bg-white brdrshadow fixed-top">
  <div class="container-fluid mx-3 d-flex justify-content-between">
    <a class="pagename navbar-brand order-lg-last" routerLink="/">
      <span>القرآن الكريم</span>
      <img src="./../../assets/quran-logo.png" alt="Logo" class="logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/"
            routerLinkActive="active"
            aria-current="page"
          >
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/"
            routerLinkActive="active"
            aria-current="page"
          >
            <i class="fa-solid fa-book-quran"></i>
            Surah-سوره
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="adeia"
            routerLinkActive="active"
            aria-current="page"
          >
            <i class="fa-solid fa-hands-praying"></i>
            Adeia-ادعيه
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


