<div class="all">
  <div class="adeia-why">

    <p class="top">
      <span>الدعاء من العبادات التي جعل الله تعالى لها أهمية كبرى في حياة المسلم، لما لها من أثر كبير في الدنيا بدفع البلاء ورفع المصائب، وفي الآخرة من أجر كبير وثواب جزيل، ولذلك نرى أن النصوص القرآنية قد أمرت بها وحثت عليها، بل جاء التخويف من تركها والإعراض عنها  </span>

      <span class="icon"><i class="fa-solid fa-circle-exclamation">  </i></span>
    </p>
    <p>
      <span> قال تعالى :</span>
      (وقال ربكم ادعوني أستجب لكم)... [غافر (60)]
    </p>



    <p>
      <span> قال تعالى:</span>

      (وإذا سألك عبادي عني فإني قريب أجيب دعوة الداع إذا دعان)...[البقرة (186)]
    </p>
    <p>
      <span> قال تعالى:</span>
      (أمن يجيب المضطر إذا دعاه ويكشف السوء)...[النمل (62)]
    </p>
    <p>
      <span> قال تعالى:</span>
      (ادعوا ربكم تضرعا وخفية إنه لا يحب المعتدين)... [الأعراف (55)]
    </p>
  </div>
  <div class="container-fluid out">
    <button class="adeia-button" (click)="toggleDiv('div1')">
      دُعَاءُ خَتْمِ القُرْآنِ الكَريمِ
    </button>
    <div
      class="adeiaTap"
      [id]="'div1'"
      [ngClass]="{ active: divActive['div1'] }"
    >
      <p>
        اللَّهُمَّ ارْحَمْنِي بالقُرْءَانِ وَاجْعَلهُ لِي إِمَاماً وَنُوراً
        وَهُدًى وَرَحْمَةً * اللَّهُمَّ ذَكِّرْنِي مِنْهُ مَانَسِيتُ
        وَعَلِّمْنِي مِنْهُ مَاجَهِلْتُ وَارْزُقْنِي تِلاَوَتَهُ آنَاءَ
        اللَّيْلِ وَأَطْرَافَ النَّهَارِ وَاجْعَلْهُ لِي حُجَّةً يَارَبَّ
        العَالَمِينَ * اللَّهُمَّ أَصْلِحْ لِي دِينِي الَّذِي هُوَ عِصْمَةُ
        أَمْرِي، وَأَصْلِحْ لِي دُنْيَايَ الَّتِي فِيهَا مَعَاشِي، وَأَصْلِحْ
        لِي آخِرَتِي الَّتِي فِيهَا مَعَادِي، وَاجْعَلِ الحَيَاةَ زِيَادَةً لِي
        فِي كُلِّ خَيْرٍ وَاجْعَلِ المَوْتَ رَاحَةً لِي مِنْ كُلِّ شَرٍّ *
        اللَّهُمَّ اجْعَلْ خَيْرَ عُمْرِي آخِرَهُ وَخَيْرَ عَمَلِي خَوَاتِمَهُ
        وَخَيْرَ أَيَّامِي يَوْمَ أَلْقَاكَ فِيهِ * اللَّهُمَّ إِنِّي أَسْأَلُكَ
        عِيشَةً هَنِيَّةً وَمِيتَةً سَوِيَّةً وَمَرَدًّا غَيْرَ مُخْزٍ وَلاَ
        فَاضِحٍ * اللَّهُمَّ إِنِّي أَسْأَلُكَ خَيْرَ المَسْأَلةِ وَخَيْرَ
        الدُّعَاءِ وَخَيْرَ النَّجَاحِ وَخَيْرَ العِلْمِ وَخَيْرَ العَمَلِ
        وَخَيْرَ الثَّوَابِ وَخَيْرَ الحَيَاةِ وَخيْرَ المَمَاتِ وَثَبِّتْنِي
        وَثَقِّلْ مَوَازِينِي وَحَقِّقْ إِيمَانِي وَارْفَعْ دَرَجَتِي
        وَتَقَبَّلْ صَلاَتِي وَاغْفِرْ خَطِيئَاتِي وَأَسْأَلُكَ العُلَا مِنَ
        الجَنَّةِ * اللَّهُمَّ إِنِّي أَسْأَلُكَ مُوجِبَاتِ رَحْمَتِكَ
        وَعَزَائِمِ مَغْفِرَتِكَ وَالسَّلاَمَةَ مِنْ كُلِّ إِثْمٍ وَالغَنِيمَةَ
        مِنْ كُلِّ بِرٍّ وَالفَوْزَ بِالجَنَّةِ وَالنَّجَاةَ مِنَ النَّارِ *
        اللَّهُمَّ أَحْسِنْ عَاقِبَتَنَا فِي الأُمُورِ كُلِّهَا، وَأجِرْنَا مِنْ
        خِزْيِ الدُّنْيَا وَعَذَابِ الآخِرَةِ * اللَّهُمَّ اقْسِمْ لَنَا مِنْ
        خَشْيَتِكَ مَاتَحُولُ بِهِ بَيْنَنَا وَبَيْنَ مَعْصِيَتِكَ وَمِنْ
        طَاعَتِكَ مَاتُبَلِّغُنَا بِهَا جَنَّتَكَ وَمِنَ اليَقِينِ مَاتُهَوِّنُ
        بِهِ عَلَيْنَا مَصَائِبَ الدُّنْيَا وَمَتِّعْنَا بِأَسْمَاعِنَا
        وَأَبْصَارِنَا وَقُوَّتِنَا مَاأَحْيَيْتَنَا وَاجْعَلْهُ الوَارِثَ
        مِنَّا وَاجْعَلْ ثَأْرَنَا عَلَى مَنْ ظَلَمَنَا وَانْصُرْنَا عَلَى مَنْ
        عَادَانَا وَلاَ تجْعَلْ مُصِيبَتَنَا فِي دِينِنَا وَلاَ تَجْعَلِ
        الدُّنْيَا أَكْبَرَ هَمِّنَا وَلَا مَبْلَغَ عِلْمِنَا وَلاَ تُسَلِّطْ
        عَلَيْنَا مَنْ لَا يَرْحَمُنَا * اللَّهُمَّ لَا تَدَعْ لَنَا ذَنْبًا
        إِلَّا غَفَرْتَهُ وَلَا هَمَّا إِلَّا فَرَّجْتَهُ وَلَا دَيْنًا إِلَّا
        قَضَيْتَهُ وَلَا حَاجَةً مِنْ حَوَائِجِ الدُّنْيَا وَالآخِرَةِ إِلَّا
        قَضَيْتَهَا يَاأَرْحَمَ الرَّاحِمِينَ * رَبَّنَا آتِنَا فِي الدُّنْيَا
        حَسَنَةً وَفِي الآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النَّارِ وَصَلَّى
        اللهُ عَلَى سَيِّدِنَا وَنَبِيِّنَا مُحَمَّدٍ وَعَلَى آلِهِ
        وَأَصْحَابِهِ الأَخْيَارِ وَسَلَّمَ تَسْلِيمًا كَثِيراً.
      </p>
    </div>

    <button class="adeia-button" (click)="toggleDiv('div2')">
      دعاء المسافر
    </button>
    <div
      class="adeiaTap"
      [id]="'div2'"
      [ngClass]="{ active: divActive['div2'] }"
    >
      <p>
        . الله أكبر ، الله أكبر، سبحان الذي سخرلنا هذا وما كنا له مقرنين وإنا
        إلى ربنا لمنقلبون، اللهم إنا نسألك في سفرنا هذا البر والتقوى، ومن العمل
        ما ترضى، اللهم هون علينا سفرنا هذا وطوي عنا بعده، اللهم أنت الصاحب في
        السفر، والخليفة في الأهل، اللهم اني أعوذبك من وعثاء السفر، وكابة المنظر
        وسوء المنقلب في المال والاهل
      </p>
    </div>

    <button class="adeia-button" (click)="toggleDiv('div3')">دعاء المرض</button>
    <div
      class="adeiaTap"
      [id]="'div3'"
      [ngClass]="{ active: divActive['div3'] }"
    >
      <p>
        إلهي أذهب البأس ربّ النّاس، اشف وأنت الشّافي، لا شفاء إلا شفاؤك، شفاءً
        لا يغادر سقمًا، أذهب البأس ربّ النّاس، بيدك الشّفاء، لا كاشف له إلّا أنت
        يارب العالمين. يا إلهي، اسمك شفائي، وذكرك دوائي، وقربك رجائي، وحبّك
        مؤنسي، ورحمتك طبيبي ومعيني في الدّنيا والآخرة، وإنّك أنت المعطي العليم
        الحكيم. أعوذ بالله السميع العليم من الشيطان الرجيم من نفخه ونفثه وهمزه.
        بسم الله أرقي نفسي من كلّ شيء يؤذيني، ومن شر كلّ نفس أو عين حاسد، بسم
        الله أرقي نفسي الله يشفيني، ما شاء الله كان، وما لم يشأ لم يكن، ولا حول
        ولا قوة إلّا بالله، أسأل الله العظيم رب العرش العظيم أن يشفيك ويشفي مرضى
        المسلمين. اللهم ألبسنا ثوب الصحة والعافية عاجلًا غير آجل، وشافِنا
        وعافِنا واعف عنا، واشملنا بعطفك ومغفرتك، وتولنا برحمتك يا أرحم الراحمين.
      </p>
    </div>

    <button class="adeia-button" (click)="toggleDiv('div4')">
      دعاء الاستخارة
    </button>
    <div
      class="adeiaTap"
      [id]="'div4'"
      [ngClass]="{ active: divActive['div4'] }"
    >
      <p>
        للهم إني أستخيرك بعلمك، وأستقدرك بقدرتك، وأسألك من فضلك العظيم؛ فإنك
        تقدر ولا أقدر، وتعلم ولا أعلم، وأنت علام الغيوب، اللهم إن كنت تعلم أن
        هذا الأمر (ويسمِّي حاجته) خيرٌ لي في ديني ومعاشي وعاقبة أمري فاقدره لي،
        وإن كنت تعلم أن هذا الأمر (ويسمِّي حاجته) شر لي في ديني ومعاشي وعاقبة
        أمري فاصرفه عني واصرفني عنه، واقدر لي الخير حيث كان، ثم رضني به.
      </p>
    </div>

    <button class="adeia-button" (click)="toggleDiv('div5')">
      دعاء قضاء الحاجة
    </button>
    <div
      class="adeiaTap"
      [id]="'div5'"
      [ngClass]="{ active: divActive['div5'] }"
    >
      <p>
        لا إله إلا أنت سبحانك إني كنت من الظالمين. يا حي يا قيوم برحمتك أستغيث،
        يا ودود يا ودود يا ودود يا ذا العرش المجيد، يا فعال لما يريد، اللهم إني
        أسألك بعزك الذي لا يرام، وملكك الذي لا يضام، ونورك الذي ملأ أرجاء عرشك
        أن تقضي حاجتي. سبحان المنفس عن كل مديون، سبحان المفرج عن كل محزون، سبحان
        من جعل خزائنه بين الكاف والنون، سبحان من إذا أراد شيئا أن يقول له كن
        فيكون، يا مفرج فرج يا مفرج فرج يا مفرج فرج يا مفرج فرج، فرج عني همي وغمي
        فرجا عاجلا غير آجل برحمتك يا أرحم الراحمين. اللهم إنا نستعينك، ونستهديك،
        ونستغفرك، ونؤمن بك، ونتوكل عليك، ونثني عليك الخير كله، نشكرك ولا نكفرك،
        ونخلع ونترك من يفجرك. اللهم اهدني فيمن هديت وعافني فيمن عافيت وتولني
        فيمن توليت وبارك لي فيما أعطيت واصرف عني شر ما قضيت تباركت ربنا وتعاليت.
        اللهم إني أعوذ برضاك من سخطك، وأعوذ بمعافاتك من عقوبتك، وأعوذ بك منك لا
        أحصي ثناء عليك، أنت كما أثنيت على نفسك
      </p>
    </div>

    <button class="adeia-button" (click)="toggleDiv('div6')">
      دعاء الامتحان
    </button>
    <div
      class="adeiaTap"
      [id]="'div6'"
      [ngClass]="{ active: divActive['div6'] }"
    >
      <p>
        اللهم يا عظيم السلطان ياقديم الإحسان يا دائم النعماء، اللهم افتح لي ما
        تسكر ويسر لي ما تعسر، اللهم إن كان رزقي في السماء فأنزله، وإن كان في
        الأرض فأخرجه، وإن كان بعيدا عني قربه، وبارك لي فيه يارب العالمين. اللهم
        اجعل ألسنتنا عامرة بذكرك، وقلوبنا بخشيتك، اللهم إني أستودعك ما قرأت وما
        حفظت وما تعلمت، فردّه إلى عند حاجتي إليه يا عفو يا كريم، إنك على كل شئ
        قدير.
      </p>
    </div>
    <button class="adeia-button" (click)="toggleDiv('div7')">دعاء المطر</button>

    <div
      class="adeiaTap"
      [id]="'div6'"
      [ngClass]="{ active: divActive['div7'] }"
    >
      <p>اللهم صيبًا نافعًا مطرنا بفضل الله ورحمته</p>
    </div>

    <button class="adeia-button" (click)="toggleDiv('div8')">
      دعاء البحث عن شيء مفقود
    </button>
    <div
      class="adeiaTap"
      [id]="'div6'"
      [ngClass]="{ active: divActive['div8'] }"
    >
      <p>
        اللهم رب الضالة هادي الضالة، تهدي من الضلالة، ورد على ضالتي بقدرتك
        وسلطانك. - اللهم يا جامع الناس ليوم لا ريب فيه اجمع بيني وبين ضالتي.
      </p>
    </div>
  </div>
</div>
