/* You can add global styles to this file, and also import other style files */
@import url("~bootstrap/dist/css/bootstrap.min.css");
@import '~@fortawesome/fontawesome-free/css/all.css';
.cursor-pointer {
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.main_margins{
  margin-top: 77px;
}
